@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Text', sans-serif;
}

:root {

    /* Primary Colors*/

    --Grayishblue: hsl(237, 18%, 59%);
    --Softred: hsl(345, 95%, 68%);

    /* Neutral Colors*/

    --White: hsl(0, 0%, 100%);
    --DarkDesaturatedBlue: hsl(236, 21%, 26%);
    --VeryDarkBlue: hsl(235, 16%, 14%);
    --VeryDarkMostlyBlackBlue: hsl(234, 17%, 12%);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--VeryDarkMostlyBlackBlue);
    background-image: url(./images/bg-stars.svg), url(./images/pattern-hills.svg);
    background-position: top, bottom;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 3rem;
    margin-bottom: 10rem;
}

.container__title {
    font-size: .5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--White);
    letter-spacing: .5rem;
}

.countdown {
    display: flex;
    justify-content: space-between;
}

.countdown_wrapper {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.countdown__numbers {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, hsl(238, 21%, 23%) 50%, var(--DarkDesaturatedBlue) 50%);
    box-shadow: 1px 3px 0 0 #000;
    color: var(--Softred);
    font-size: 2rem;
    border-radius: .2rem;
}

.countdown__text {
    font-size: .5rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: var(--Grayishblue);
}

footer {
    display: flex;
    position: absolute;
    bottom: 4rem;
    gap: 2rem;
}

footer img:hover {
    cursor: pointer;
}

@media (min-width: 1000px) {
    

    h1 {
        text-align: center;
        text-transform: uppercase;
        color: var(--White);
        font-size: 1.5rem;
    }

    .countdown {
        justify-content: center;
    }

    .countdown_wrapper {
        width: 12.5%;
    }
    
    .countdown__numbers {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: 8rem;
        color: var(--Softred);
        font-size: 4rem;
        letter-spacing: .1rem;
        background: linear-gradient(180deg, hsl(238, 21%, 23%) 50%, var(--DarkDesaturatedBlue) 50%);
        border-radius: .5rem;
        box-shadow: 2px 5px 0 0 var(--VeryDarkMostlyBlackBlue);
    }
    
    .countdown__text {
        color: var(--DarkDesaturatedBlue);
        text-transform: uppercase;
        font-size: .8rem;    
}

}