@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* Primary Colors*/
    --Grayishblue: hsl(237, 18%, 59%);
    --Softred: hsl(345, 95%, 68%);

    /* Neutral Colors*/

    --White: hsl(0, 0%, 100%);
    --DarkDesaturatedBlue: hsl(236, 21%, 26%);
    --VeryDarkBlue: hsl(235, 16%, 14%);
    --VeryDarkMostlyBlackBlue: hsl(234, 17%, 12%);
}

body {
    min-height: 100vh;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 1rem;
    letter-spacing: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--VeryDarkMostlyBlackBlue);
    background-image: url(./images/bg-stars.svg), url(./images/pattern-hills.svg);
    background-position: top, bottom;
    background-repeat: no-repeat, no-repeat;
}

.mountains {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: var(--White);
    font-size: 1.5rem;
}

.countdown {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.countdown_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.countdown__numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    color: var(--Softred);
    font-size: 4rem;
    letter-spacing: .1rem;
    background: linear-gradient(180deg, hsl(238, 21%, 23%) 50%, var(--DarkDesaturatedBlue) 50%);
    border-radius: .5rem;
    box-shadow: 2px 5px 0 0 var(--VeryDarkMostlyBlackBlue);
}

.countdown__text {
    color: var(--DarkDesaturatedBlue);
    text-transform: uppercase;
    font-size: .8rem;    
}